
/*Navbar Atas*/
#dropdown{
  background-color: white;
  border: 0;
  color: black;
  margin-right: 20px;
  padding: 0;
}
.d-flex{
  margin-right: 20px;
  height: 10%;
}
#nav{
  background-color: white;
  top: 0;
  width: 91.5vw;
  left: 6.8rem;
  position: fixed;
}
#menu{
  margin-right: 3rem;
  margin-left: 3rem;
}
